{%  load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>{% block pagetitle %}{% endblock %} | block2block.me</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
    <script src="https://kit.fontawesome.com/a06911b3f6.js" crossorigin="anonymous"></script>

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono">

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Poppins">

    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="icon"
      type="image/png"
      href="{% static 'img/Block2Block.png' %}">

    <style>
        .footer > a {color:white;}         /* Unvisited link  */
        .footer > a:visited  {color:white;} /* Visited link    */
        .footer > a:hover {color:white;}   /* Mouse over link */
        .footer > a:active {color:white;}  /* Selected link   */
    </style>

    <meta property="twitter:image" content="{% static 'img/Block2Block.png' %}">
    <meta property="twitter:title" content="block2block.me">
    <meta property="twitter:description" content="Hi, I'm Ethan.">
    <meta property="twitter:card" content="summary">
</head>

<body id="background" style="background-color: #23272A;color:white">

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">
        <ul class="navbar-nav ml-auto text-center">
            <li class="nav-item{% if url == "home" %} active{% endif %}">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item{% if url == "blog" %} active{% endif %}">
                <a class="nav-link" href="/blog/">Blog</a>
            </li>
        </ul>
    </div>
    <div class="mx-auto my-2 order-0 order-md-1 position-relative">
        <a class="mx-auto" href="/">
            <img src="{% static 'img/Block2Block.png' %}" class="rounded-circle" height="100px" width="100px"
                 style="margin-top:60px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-2">
        <ul class="navbar-nav mr-auto text-center">
            <li class="nav-item{% if url == "social" %} active{% endif %}">
                <a class="nav-link" href="/social">Social Media</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin">Admin</a>
            </li>
        </ul>
    </div>
</nav>
<div class="jumbotron jumbotron-fluid"
     style="padding-top: 50px;background-image: linear-gradient(to bottom right, #64030C, #71030C, #E3001B);background-repeat: no-repeat;background-size: cover;background-position: center;color:#FFFFFF;">
    <div class="container">
        <br><br>
        <br><br>
        <h1 class="display-4"><strong>{% block bannertitle %}{% endblock %}</strong></h1>
        <p class="lead"><strong>{% block bannerdesc %}{% endblock %}</strong></p>
        <br><br>
        <br><br>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm-12">
            {% block content %}
            {% endblock %}
            <br>
            <hr>
            <br>
            <div class="container footer">
                <div class="row">
                    <div class="col-sm-3 footer" style="border-right-style: solid;border-right-width:1px;border-right-color:lightgray;text-align: center">
                        <h5><u>Site Map</u></h5>
                        <a href="/"><p>Home</p></a>
                        <a href="/blog/"><p>Blog</p></a>
                        <a href="/social/"><p>Social Media</p></a>
                        <a href="/admin"><p>Admin</p></a>
                    </div>
                    <div class="col-sm-3 footer" style="border-right-style: solid;border-right-width:1px;border-right-color:lightgray;text-align: center">
                        <h5><u>Social Media Links</u></h5>
                        <a href="https://twitter.com/Block2BlockMP" style="padding-bottom: 10px"><i class="fab fa-twitter fa-2x"></i></a>
                        <a href="https://twitch.tv/Block2BlockMP"><i class="fab fa-twitch fa-2x"></i></a>
                        <a href="https://github.com/Block2Block"><i class="fab fa-github fa-2x"></i></a>
                        <a href="mailto:ethan@block2block.me"><i class="fas fa-envelope fa-2x"></i></a><br>
                        <a href="https://www.reddit.com/user/Block2block" style="padding-bottom: 10px"><i class="fab fa-reddit fa-2x"></i></a>
                        <a href="https://discord.gg/vmT6wY7"><i class="fab fa-discord fa-2x"></i></a>
                        <a href="https://www.youtube.com/channel/UCE1Si63LnGlDc_IVnG5unxg"><i class="fab fa-youtube fa-2x"></i></a>
                        <a href="https://steamcommunity.com/id/Block2Block"><i class="fab fa-steam fa-2x"></i></a>
                    </div>
                    <div class="col-sm-3 footer" style="border-right-style: solid;border-right-width:1px;border-right-color:lightgray;text-align: center">
                        <h5><u>GitHub Projects</u></h5>
                        <a href="https://github.com/Block2Block/HubParkour"><p>HubParkour</p></a>
                        <a href="https://github.com/Block2Block/HotPotato"><p>HotPotato</p></a>
                        <a href="https://github.com/Block2Block/CheeseBot"><p>CheeseBot</p></a>
                        <a href="https://github.com/Block2Block/SquadGoalsSMP"><p>Squad Goals SMP</p></a>
                    </div>
                    <div class="col-sm-3 footer" style="text-align: center">
                        <h5><u>Misc</u></h5>
                        <a href="https://epq.block2block.me/"><p>EPQ Artifact</p></a>
                        <a href="https://hubparkour.block2block.me/"><p>HubParkour JavaDoc</p></a>
                        <a href="https://scapegoat.block2block.me/"><p>ScapeGoat Generator</p></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm"></div>
    </div>
</div>
        <br>
        <div style="height: 50px;background-color: #aa0000;width: 100%">
            <div class="container" style="padding-bottom: 5px;padding-top: 5px;">
                <div class="row">
                    <div class="col-sm-12"  style="margin-bottom: auto;margin-top: auto;display: block">
                        <img src="{% static 'img/face.png' %}" class="img-fluid" style="margin-left: auto;margin-right: auto;display: block;height: 40px;width: 40px;">
                    </div>
                </div>
            </div>
        </div>
</body>
</html>