{% extends 'templates/base.html' %}
{% load static %}

{% block content %}
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img class="img-fluid" style="margin-left: auto;margin-right: auto;display: block" width="60%"
                     src="{% static 'img/ProfilePic.png' %}">
            </div>
            <div class="col-sm-6" style="margin-bottom: auto;margin-top: auto;display: block">
                <h1>About Me</h1>
                <p>I am a freelance developer, specialising in Java and the Spigot API. I am an active member of the
                    Scout Movement, and have been a part of it for the past 13 years. I like to play a variety of games,
                    including UNO, THE GAME OF LIFE, The Jackbox Party Games, Minecraft, the list goes on. I am also a really big fan of Electronic Music and all of the different sub-genres.</p>
                <a href="https://github.com/Block2Block">
                    <button type="button" class="btn btn-danger">View me on GitHub »</button>
                </a>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-sm-6" style="margin-bottom: auto;margin-top: auto;display: block">
                <h1>The Cult of Cheese</h1>
                <p>I am the founding member of the Cult of Cheese, alongside Bunni and _Brandon. The Cult of Cheese is a
                    Discord community, and we are (as you probably guessed by the name) themed around cheese. We have a
                    Custom Written Discord bot (source available on GitHub), roles for different games (that are
                    togglable) and many other cool features!</p>
                <a href="https://discord.gg/vmT6wY7">
                    <button type="button" class="btn btn-danger">Join our Discord »</button>
                </a>
            </div>
            <div class="col-sm-6">
                <img class="img-fluid" style="margin-left: auto;margin-right: auto;display: block" width="60%"
                     src="{% static 'img/logo.gif' %}">
            </div>
        </div>

        <br>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-sm-6" style="margin-bottom: auto;margin-top: auto;display: block">
                <a href="https://auroramc.net/"><img class="img-fluid"
                                                          style="margin-left: auto;margin-right: auto;display: block"
                                                          width="60%" src="{% static 'img/AMCLogo.png' %}"></a>
            </div>
            <div class="col-sm-6">
                <h1>AuroraMC</h1>
                <p>I am an Owner, the CTO and Lead Developer at AuroraMC, a new Minecraft network.
                    AuroraMC is the culmination of 4 years worth of planning, development and testing.
                    We've thought into miraculous detail about every aspect of the network and what we
                    wish we got out of some of the other Minecraft networks. While there are likely to
                    be some oversights, we have spent hours upon hours coming up with and developing advanced
                    systems and features to cater to everyone's needs. With over 100,000 lines of code, in a
                    combination of PhP and Java, it is by far my biggest, most comprehensive and complex project
                    I have ever worked on.</p>
                <a href="https://auroramc.net/">
                    <button type="button" class="btn btn-danger">More Info »</button>
                </a>
            </div>
        </div>

    </div>
{% endblock %}

{% block pagetitle %}Home{% endblock %}

{% block bannertitle %}Hi, I'm Ethan{% endblock %}

{% block pagedesc %}Hi, I'm Ethan{% endblock %}

{% block bannerdesc %}Although most people call me Block. I am a student at the University of Birmingham studying MEng
    Computer Science/Software Engineering.{% endblock %}