{% extends 'templates/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card text-white bg-dark mb-3" style="width: auto;height: 100%">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fab fa-twitter"></i> Twitter</h5>
                        <p class="card-text">Follow my Twitter for random tweets from my gaming account. I am not super active on my Twitter, but I do Tweet when I go live and I tend to scroll through.</p>
                        <a href="https://twitter.com/Block2BlockMC" class="btn btn-danger">View »</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card text-white bg-dark mb-3" style="width: auto;height: 100%">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fab fa-twitch"></i> Twitch</h5>
                        <p class="card-text">My most active content creator platform, I occasionally go live on Twitch. Follow and enable notifications to know when I go live. I generally play Minecraft but I do play other games too</p>
                        <a href="https://twitch.tv/Block2Block_" class="btn btn-danger">View »</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
    <div class="row">
            <div class="col-sm-6">
                <div class="card text-white bg-dark mb-3" style="width: auto;height: 100%">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fab fa-github"></i> GitHub</h5>
                        <p class="card-text">View and Follow my GitHub to know what I am getting up to, including Bukkit plugins and other misc projects</p>
                        <a href="https://github.com/Block2Block" class="btn btn-danger">View »</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card text-white bg-dark mb-3" style="width: auto;height: 100%">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-envelope"></i> Email</h5>
                        <p class="card-text">Want to contact me? Either send a message to any of my Social Media's or Email me! I will try to respond as soon as possible, although cannot guarantee a time.</p>
                        <a href="mailto:ethan@block2block.me" class="btn btn-danger">View »</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
    <div class="row">
            <div class="col-sm-6">
                <div class="card text-white bg-dark mb-3" style="width: auto;height: 100%">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fab fa-reddit"></i> Reddit</h5>
                        <p class="card-text">While I do not post on Reddit, I do regularly scroll through the many subreddits I'm subscribed to. I mainly use it to find dank memes but I also use it to blow my mind. 🤯</p>
                        <a href="https://www.reddit.com/user/Block2block" class="btn btn-danger">View »</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card text-white bg-dark mb-3" style="width: auto;height: 100%">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fab fa-discord"></i> Discord</h5>
                        <p class="card-text">Feel free to join the Cult of Cheese Discord, where I regularly play games with friends, chat and generally hang out! Discord is by far my most active account, having it open almost 24/7 and always talking to someone.</p>
                        <a href="https://discord.gg/vmT6wY7" class="btn btn-danger">View »</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
    <div class="row">
            <div class="col-sm-6">
                <div class="card text-white bg-dark mb-3" style="width: auto;height: 100%">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fab fa-youtube"></i> YouTube</h5>
                        <p class="card-text">I will occasionally post stream VODs to YouTube and maybe some occasional uploads on the side, but I don't regularly upload and do not have a schedule. Feel free to subscribe to know when I upload!</p>
                        <a href="https://www.youtube.com/channel/UCE1Si63LnGlDc_IVnG5unxg" class="btn btn-danger">View »</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card text-white bg-dark mb-3" style="width: auto;height: 100%">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fab fa-steam"></i> Steam</h5>
                        <p class="card-text">I regularly play games on Steam, from the Jackbox Party Packs to GTA, I play a wide variety of Steam games, with a massive collection of games gained through the purchase of the Yogscast Jingle Jam over the past 3 years!</p>
                        <a href="https://steamcommunity.com/id/Block2Block" class="btn btn-danger">View »</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block pagetitle %}Social Media{% endblock %}

{% block bannertitle %}Social Media{% endblock %}

{% block pagedesc %}Social Media{% endblock %}

{% block bannerdesc %}View my many social media accounts, feel free to follow/subscribe to any of them!{% endblock %}